* {
    margin: 0;
    padding: 0;
   
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: white;
    color: black;
   
}

header {
    background: linear-gradient(135deg, black, rgb(100, 98, 98), black);
    color: white;
    text-align: center;
    padding: 50px;
}

header h1 {
    font-size: 40px;
}

header p {
    margin-top: 40px;
    opacity: 0.9;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    background: white;
    padding: 12px;
    box-shadow: 0 10px 20px rgb(204, 203, 203);
    position:relative;
   
}

nav a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.6s;
    font-weight: 500;
}

nav a:hover {
    background: rgb(213, 212, 212);

}

section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
    scroll-margin-top: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    color: black;
}

ul {
    padding-left: 30px;
    margin-top: 10px;
}

li {
    margin-bottom: 15px;
}

.card {
    background: white;
    padding: 22px;
    margin: 20px;
    border-radius:20px;
    box-shadow: 0 10px 18px rgba(0,0,0,0.06);
    transition: 0.40s;
    border: 1px solid #e5e7eb;
}

.card:hover {
    transform: translateY(-6px);
}

.card h3 {
    color: #0066ff;
    margin-bottom: 10px;
}

a {
    color: #2563eb;
    font-weight: 500;
}

footer {
    margin-top: 10px;
    background: #0f172a;
    color: #cbd5e1;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }

    nav a {
        font-size: 0.9rem;
    }

    header h1 {
        font-size: 1.8rem;
    }
}
